*{
  margin: 0;
}
.App{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.app_body{
display: flex;
margin-top: 35px;
max-width: 1200;
margin-left: 20px;
margin-right: 20px;
justify-content: space-between;
}


