.headeroptions{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
    justify-content: space-between;
}
.headeroptions:hover{
    color: black;
}
.header_right{
    display: flex;
}

.headerOption_title{
    font-weight: 400;
  font-size: 12px;
}
.headerOption__icon{
    object-fit: contain;
    width: 25px !important;
    height: 25px !important;
}